<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="740"
    android:versionName="6.9.20-RC93"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="xyz.easypro.httpcustom"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="35"/>
    <uses-permission-sdk-23 android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <permission
        android:name="xyz.easypro.httpcustom.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="xyz.easypro.httpcustom.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/k"
        android:label="@string/bl"
        android:icon="@mipmap/ic_launcher"
        android:name="team.dev.epro.apkcustom.App"
        android:launchMode="singleTask"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:extractNativeLibs="true"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7142634491707970~7554188676"/>
        <activity
            android:label="Psiphon Settings"
            android:name="team.dev.epro.apkcustom.activities.PsiphonSettings"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <activity
            android:theme="@style/kc"
            android:label="@string/bl"
            android:name="team.dev.epro.apkcustom.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/kc"
            android:label="@string/ek"
            android:name="team.dev.epro.apkcustom.activities.ConfigImport"
            android:exported="true"
            android:taskAffinity=".ConfigImport"
            android:excludeFromRecents="true"
            android:grantUriPermissions="true"
            android:launchMode="singleTask"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/octet-stream"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/x-hc-config"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/hc"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:host="*"/>
                <data android:pathPattern=".*.hc"/>
                <data android:pathPattern=".*.hc"/>
                <data android:pathPattern=".*..*.hc"/>
                <data android:pathPattern=".*..*.hc"/>
                <data android:pathPattern=".*..*..*.hc"/>
                <data android:pathPattern=".*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.hc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.hc"/>
                <data android:pathPattern=".*.mr"/>
                <data android:pathPattern=".*.mr"/>
                <data android:pathPattern=".*..*.mr"/>
                <data android:pathPattern=".*..*.mr"/>
                <data android:pathPattern=".*..*..*.mr"/>
                <data android:pathPattern=".*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.mr"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.mr"/>
                <data android:pathPattern=".*.zxc"/>
                <data android:pathPattern=".*.zxc"/>
                <data android:pathPattern=".*..*.zxc"/>
                <data android:pathPattern=".*..*.zxc"/>
                <data android:pathPattern=".*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.zxc"/>
                <data android:pathPattern=".*.acm"/>
                <data android:pathPattern=".*.acm"/>
                <data android:pathPattern=".*..*.acm"/>
                <data android:pathPattern=".*..*.acm"/>
                <data android:pathPattern=".*..*..*.acm"/>
                <data android:pathPattern=".*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.acm"/>
                <data android:pathPattern=".*..*..*..*..*..*..*..*.acm"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.TimeOut"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.DestPing"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.UdpCustom"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.GroupSort"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.Dns"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.SlowDns"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.Cloud"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.ShortUrl"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.RequestBlock"/>
        <activity android:name="team.dev.epro.apkcustom.widgets.FileChooser"/>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.ServerMessage"
            android:launchMode="singleTask"/>
        <activity
            android:label="@string/b3"
            android:name="team.dev.epro.apkcustom.activities.GeneratedConfig"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <activity
            android:label="@string/b2"
            android:name="team.dev.epro.apkcustom.activities.V2raySettings"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <service
            android:name="team.dev.epro.apkcustom.sockets.SSHTunnelService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn"/>
        </service>
        <service
            android:name="team.dev.epro.apkcustom.sockets.socks.SocksVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn"/>
        </service>
        <service
            android:name="team.dev.epro.apkcustom.sockets.psiphon.PsiphonVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn"/>
        </service>
        <service
            android:name="team.dev.epro.apkcustom.sockets.v2ray.V2RayVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn"/>
        </service>
        <service
            android:name="team.dev.epro.apkcustom.sockets.udp.UDPService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn"/>
        </service>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn"/>
        </service>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNStatusService"
            android:exported="false"/>
        <activity
            android:label="@string/wc"
            android:name="team.dev.epro.apkcustom.activities.SimpleMaker"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <activity
            android:label="@string/je"
            android:name="team.dev.epro.apkcustom.activities.SmartGuide"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <activity
            android:theme="@style/a3t"
            android:name="team.dev.epro.apkcustom.activities.DisconnectVPN"
            android:exported="false"
            android:taskAffinity=".DisconnectVPN"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:autoRemoveFromRecents="true"/>
        <activity
            android:theme="@style/a3t"
            android:label="@string/a0_"
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:exported="true"
            android:taskAffinity=".LaunchVPN"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name="team.dev.epro.apkcustom.sockets.ClosingService"
            android:exported="false"
            android:stopWithTask="false"/>
        <service
            android:name="team.dev.epro.apkcustom.widgets.assist.AssistDroid"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/assist_metadata"/>
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
        </service>
        <service
            android:name="team.dev.epro.apkcustom.widgets.assist.AssistDroidSession"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:exported="true"/>
        <activity
            android:label="@string/s3"
            android:name="team.dev.epro.apkcustom.activities.ProxifiedApps"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <activity
            android:label="@string/mx"
            android:name="team.dev.epro.apkcustom.activities.MobileIPHunter"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <activity
            android:label="@string/u0"
            android:name="team.dev.epro.apkcustom.activities.ResponseChecker"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName="team.dev.epro.apkcustom.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="team.dev.epro.apkcustom.MainActivity"/>
        </activity>
        <activity
            android:theme="@style/j"
            android:name="team.dev.epro.apkcustom.dialogs.PackageName"/>
        <provider
            android:name="com.balsikandar.crashreporter.CrashReporterInitProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="xyz.easypro.httpcustom.CrashReporterInitProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/d"/>
        </provider>
        <activity
            android:theme="@style/kb"
            android:name="com.balsikandar.crashreporter.ui.CrashReporterActivity"
            android:taskAffinity="com.balsikandar.android.task"
            android:launchMode="singleTask"/>
        <activity
            android:theme="@style/ha"
            android:name="com.balsikandar.crashreporter.ui.LogMessageActivity"
            android:parentActivityName="com.balsikandar.crashreporter.ui.CrashReporterActivity"/>
        <activity
            android:theme="@style/he"
            android:label=""
            android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity"
            android:exported="false"/>
        <activity
            android:name="android.app.NativeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="easypro"/>
        </activity>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:exported="false"
            android:authorities="xyz.easypro.httpcustom.mobileadsinitprovider"
            android:initOrder="100"/>
        <service
            android:name="com.google.android.gms.ads.AdService"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name="com.google.android.gms.ads.OutOfContextTestingActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.ads.NotificationHandlerActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/b"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/i"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="xyz.easypro.httpcustom.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/c"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/e"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/d"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/c"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="3"/>
    </application>
</manifest>
